<ng-template #create let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="sourceName">Name</label>
                <input id="sourceName" name="sourceName" class="form-control" type="text" [(ngModel)]="sourceName"  />
             
                <label for="sourceUrl">RSS Url</label>
                <input id="sourceUrl" name="sourceUrl" class="form-control" type="url"  [(ngModel)]="sourceRss" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button type="button" class="{{buttonClass}}" (click)="open(create)">
    <i class="{{icon}}"></i>
    {{title}}
</button>