<ng-template #popupTemplate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                @for (item of meta; track $index) {
                    <label for="{{item.key}}">{{item.title}}</label>
                    <input id="{{item.key}}" name="{{item.key}}" class="form-control" type="{{item.dataType}}" [(ngModel)]="data[item.key]"  />                    
                }
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>